{% extends 'base.html' %}
{% block scripts %}
    {{ super() }}
    <script src="{{ url_for("static", filename="jquery/js/jquery-3.6.0.min.js") }}"></script>
    <link href="{{ url_for("static", filename="select2/css/select2.min.css") }}"
          rel="stylesheet"/>
    <script src="{{ url_for("static", filename="select2/js/select2.min.js") }}"></script>
    <script>
    $(document).ready(function() {
      $('.select2').select2({
        placeholder: 'Выберите жителей',
        allowClear: true
      });
    });
    </script>
{% endblock scripts %}
{% block content %}
    <div class="container">
        <h1 class="text-center">Редактировать адрес</h1>
        <form action="" method="post">
            {{ form.hidden_tag() }}
            <p>
                {{ form.country.label(class="form-label") }}
                <br>
                {{ form.country(size=32, class="form-control") }}
            </p>
            <p>
                {{ form.subject.label(class="form-label") }}
                <br>
                {{ form.subject(size=32, class="form-control") }}
            </p>
            <p>
                {{ form.city.label(class="form-label") }}
                <br>
                {{ form.city(size=32, class="form-control") }}
            </p>
            <p>
                {{ form.index.label(class="form-label") }}
                <br>
                {{ form.index(size=32, class="form-control") }}
            </p>
            <p>
                {{ form.street.label(class="form-label") }}
                <br>
                {{ form.street(size=32, class="form-control") }}
            </p>
            <p>
                {{ form.number_building.label(class="form-label") }}
                <br>
                {{ form.number_building(size=32, class="form-control") }}
            </p>
            <p>
                {{ form.number_flat.label(class="form-label") }}
                <br>
                {{ form.number_flat(size=32, class="form-control") }}
            </p>
            <p>
                {{ form.residents.label(class="form-label") }}
                <br>
                {{ form.residents(size=32, class="form-control select2") }}
            </p>
            <p>{{ form.submit(class="btn btn-success") }}</p>
        </form>
        <form action="post">
            <a href="{{ url_for("main.delete_id", address_id=address_id)}}" class="btn btn-danger">Удалить
            </a>
        </form>
    </div>
{% endblock content %}
