{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <h1 class="text-center">Редактировать адрес</h1>
        <form action="" method="post">
            {{ form.hidden_tag() }}
            <p>
                {{ form.country.label(class="form-label") }}
                <br>
                {{ form.country(size=32, class="form-control") }}
            </p>
            <p>
                {{ form.subject.label(class="form-label") }}
                <br>
                {{ form.subject(size=32, class="form-control") }}
            </p>
            <p>
                {{ form.city.label(class="form-label") }}
                <br>
                {{ form.city(size=32, class="form-control") }}
            </p>
            <p>
                {{ form.index.label(class="form-label") }}
                <br>
                {{ form.index(size=32, class="form-control") }}
            </p>
            <p>
                {{ form.street.label(class="form-label") }}
                <br>
                {{ form.street(size=32, class="form-control") }}
            </p>
            <p>
                {{ form.number_building.label(class="form-label") }}
                <br>
                {{ form.number_building(size=32, class="form-control") }}
            </p>
            <p>
                {{ form.number_flat.label(class="form-label") }}
                <br>
                {{ form.number_flat(size=32, class="form-control") }}
            </p>
            <p>
                {{ form.residents.label(class="form-label") }}
                <br>
                {{ form.residents(size=32, class="form-control") }}
            </p>
            <p>{{ form.submit(class="btn btn-success") }}</p>
        </form>
        <form action="post">
            <a href="{{ url_for("main.delete_id", address_id=address_id)}}" class="btn btn-danger">Удалить
            </a>
        </form>
    </div>
{% endblock content %}
