<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet"
              href="{{ url_for("static", filename="bootstrap/css/bootstrap.min.css") }}">
        <script scr="{{ url_for("static", filename="bootstrap/js/bootstrap.min.js") }}"></script>
        {% block scripts %}{% endblock %}
        <title>
            {% block title %}
                {% if title %}
                    {{ title }} - AdressBook
                {% else %}
                    {{ _('Welcome to AdressBook') }}
                {% endif %}
            {% endblock %}
        </title>
    </head>
    <main>
        <nav>
            {% include "includes/nav.html" %}
        </nav>
        <body>
            <div class="container">
                <!-- Flash-message -->
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            <div class="alert alert-dismissible fade show {% if category == 'error' %}alert-danger{% elif category == 'warning' %}alert-warning{% else %}alert-success{% endif %}"
                                 role="alert">
                                {{ message }}
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            </div>
            <!-- Content -->
            {% block content %}Block 'content'{% endblock %}
        </body>
        <footer>
            {% include "includes/footer.html" %}
        </footer>
    </main>
</html>
